################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MobileBankIDExample/MobileBankIDExample/bin/Debug
/MobileBankIDExample/MobileBankIDExample/obj/Debug
/MobileBankIDExample/MobileBankIDExample/obj/Debug
