################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MobileBankIDExample/MobileBankIDExample/bin/Debug
