<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="RpServiceSoapBinding">
          <textMessageEncoding messageVersion="Soap11" />
          <httpsTransport requireClientCertificate="true"  />
        </binding>
      </customBinding>
    </bindings>

    <client>
      <endpoint address="https://appapi.test.bankid.com/rp/v4"
                binding="customBinding"
                bindingConfiguration="RpServiceSoapBinding"
                contract="BankIDService.RpServicePortType"
                name="RpServiceSoapPort"
                behaviorConfiguration="bankid" />
    </client>

    <behaviors>

      <endpointBehaviors>
        <behavior name="bankid">
          <clientCredentials>
            <clientCertificate findValue="FP Testcert 2" x509FindType="FindBySubjectName"
                               storeLocation="CurrentUser" storeName="My" />
            <serviceCertificate>
              <defaultCertificate findValue="BankID SSL Root Certification Authority TEST" storeLocation="LocalMachine" storeName="Root" x509FindType="FindBySubjectName"/>
              <authentication certificateValidationMode="None" revocationMode="NoCheck" trustedStoreLocation="LocalMachine"/>
            </serviceCertificate>

          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>

</configuration>